<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbc.mapper.UserMapper">

	<select id="read" resultType="com.mbc.domain.UserVO">
		select uno, id, pwd, phone, u_regdate
    	from users where uno=#{uno}
	</select>
	
	<insert id="create">
		<selectKey keyProperty="uno" resultType="Long" order="BEFORE">
			SELECT seq_uno.NEXTVAL FROM DUAL
		</selectKey>
		insert into users (uno, id, pwd, phone, u_regdate)
		values (${uno}, #{id}, #{pwd}, #{phone}, sysdate)
	</insert>
	
	<select id="existsById" resultType="boolean">
		select count(*) from users where id=#{id}
	</select>
	
	<update id="update">
		update users set pwd=#{pwd}, phone=#{phone} where uno=#{uno}
	</update>
	
	<delete id="delete">
		delete from users where uno=#{uno}
	</delete>
</mapper>